<div class="col-4 offset-2 sort-module text-right position-relative">
    <input id="<%= data.id %>" type="text" class="form-control sort-results" placeholder="<%= data.placeholder %>" />
    <label for="<%= data.id %>">
        <i class="material-icons">search</i>
    </label>
</div>
