<%
    if (typeof news === 'undefined') locals.news = false;

    let form;
    if (locals.news) {
        form = "<form id='update-news' method='POST' action='../../api/news/update' data-update='true'>";
    } else {
        form = "<form id='update-news' method='POST' action='../api/news/create'>";
    }

    let newsData = {
        title: locals.news ? "Modification de : <span class='text-green'>" + __(news._name) + "</span>" : data.head.title
    };
%>

<%- form %>
    <div class="row mb-5">
        <div class="col-12">
            <h1 class="text-white h4">
                <i class="material-icons"><%= data.icon %></i>
                <span class="ml-2"><%- newsData.title %></span>
            </h1>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <label for="news-en">EN translation</label>
            <textarea id="news-en"></textarea>
        </div>
    </div>

    <div class="e-s-4"></div>

    <div class="row mb-4">
        <div class="col-12">
            <label for="news-fr">FR translation</label>
            <textarea id="news-fr"></textarea>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 hide">
            <label for="upload">Upload file</label>
            <input type="file" id="upload" />
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mx-auto text-center">
            <button id="submit" type="submit" class="btn btn-lg custom-theme theme-2">Sauvegarder les modifications</button>
        </div>
    </div>
</form>

