<section>
    <div class="row mb-5">
        <div class="col-12 text-center">
            <form action="<%= action %>" method="<%= method %>">
                <button class="custom-theme theme-3">Load more</button>
            </form>
        </div>
    </div>
</section>
