<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= head.title %></title>
    <meta name="description" content="Wiki for Saint Seiya Awakening game. List of every saints, cosmos and skills and a lot of advices for beginners but also experienced players.">
    <link rel="shortcut icon" type="image/png" href="<%- cloudinary.url("favicon/ssa.png", {secure: true}) %>"/>
    <script defer="defer" src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
    <% if(process.env.NODE_ENV !== "development") { %>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script defer="defer" async src="https://www.googletagmanager.com/gtag/js?id=UA-154987904-1"></script>
        <script defer="defer">
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-154987904-1');
        </script>
    <% } %>
    <!-- load custom script & style -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link defer="defer" type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <script defer="defer" async src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <% for (let i = 0, iCount = head.viewStyleUrls.length; i < iCount; i++) { %>
        <%- head.viewStyleUrls[i] %>
    <% } %>
    <% for (let j = 0, jCount = head.viewScriptUrls.length; j < jCount; j++) { %>
        <%- head.viewScriptUrls[j] %>
    <% } %>
</head>
