@white: #fff;
@black: #000;

/* Application */
@purple-light: rgb(190, 160, 231);
@purple-regular: #822EFF;
@purple-dark: #280e62;

@grey-light-1: #BBBBF4;
@grey-light-2: #3f476e;

@grey-medium-1: #262635;
@grey-medium-2: #27273a;
@grey-medium-3: #2a2a40;

@grey-dark-1: #20202C;
@grey-dark-2: darken(@grey-dark-1, 5%);
@grey-dark-2-faded-2: fade(@grey-dark-2, 20%);
@grey-dark-2-faded-5: fade(@grey-dark-2, 50%);

@grey-faded-5: fade(@grey-dark-2, 50%);

@purple-faded-3: fade(@purple-regular, 30%);

@green-faded-1: fade(@success, 10%);
@green-faded-2: fade(@success, 20%);
@green-faded-3: fade(@success, 30%);
@green-faded-5: fade(@success, 50%);
@gold: #f6e5a1;

/* State */
@primary:       #6dd3d6;
@error:         #f7765f;
@info:          #6ec7e0;
@success:       #00EC98;
@warning:       #fcd27b;

/* Greys */
@white-alpha-9: rgba(255, 255, 255, .9);
@white-alpha-8: rgba(255, 255, 255, .8);
@white-alpha-7: rgba(255, 255, 255, .7);
@white-alpha-6: rgba(255, 255, 255, .6);
@white-alpha-5: rgba(255, 255, 255, .5);
@white-alpha-4: rgba(255, 255, 255, .4);
@white-alpha-3: rgba(255, 255, 255, .3);
@white-alpha-2: rgba(255, 255, 255, .2);
@white-alpha-1: rgba(255, 255, 255, .1);

@black-alpha-9: rgba(0, 0, 0, .9);
@black-alpha-8: rgba(0, 0, 0, .8);
@black-alpha-7: rgba(0, 0, 0, .7);
@black-alpha-6: rgba(0, 0, 0, .6);
@black-alpha-5: rgba(0, 0, 0, .5);
@black-alpha-4: rgba(0, 0, 0, .4);
@black-alpha-3: rgba(0, 0, 0, .3);
@black-alpha-2: rgba(0, 0, 0, .2);
@black-alpha-1: rgba(0, 0, 0, .1);

@grey-lighten-5:  #fafafa;
@grey-lighten-4:  #f5f5f5;
@grey-lighten-3:  #eeeeee;
@grey-lighten-2:  #e0e0e0;
@grey-lighten-1:  #bdbdbd;
@grey-base:       #9e9e9e;
@grey-darken-1:   #757575;
@grey-darken-2:   #616161;
@grey-darken-3:   #424242;
@grey-darken-4:   #212121;

/* Gradients */
//@gradient-purple-dark-to-light: linear-gradient(to bottom, @purple-dark 0%, @purple-light 100%);
//@gradient-purple-dark-to-light-270: linear-gradient(270deg, @purple-dark 0%, @purple-light 100%);
//@gradient-purple-dark-to-light-left: linear-gradient(to left, @purple-dark 0%, @purple-light 100%);
//@gradient-purple-dark-to-light-right: linear-gradient(to right, @purple-dark 0%, @purple-light 100%);
//@gradient-purple-dark-to-darker: linear-gradient(to bottom, @purple-dark 0%, @purple-darker 100%);
