<div id="skins" class="row mb-4">
    <div class="col-12">
        <h2 class="h5 mt-0">Ajouter des skins <span class="small">(max: 256kb)</span></h2>
    </div>
    <div class="col-12 mt-2">
        <div class="row skins">
            <%-
                include("add-skin-thumbnail", {
                    index: 0,
                    starter: true
                })
            %>
            <%
                if (locals.saint && saint.skins.length > 0) {
                    saint.skins.forEach((skin, i) => {
                        %>
                            <%-
                                include("add-skin-thumbnail", {
                                    index: i,
                                    starter: false,
                                    skin: skin
                                })
                            %>
                        <%
                    });
                }
            %>
        </div>
        <div class="small mt-1"><span class="font-weight-bold">·</span> Le masque doit être situé en premier dans l'ordre d'apparition des fichiers depuis l'explorateur <span class="font-weight-bold">·</span></div>
    </div>
</div>
