<div class="col-4 position-relative mb-2" data-serialize="<%= _id %>">
    <div class="modified-skill">
        <img src="<%= cloudinary.url("skills/" + slug + ".png", {fetch_format: "auto", quality: "auto", secure: true}) %>" class="mr-2" alt="Skill icon" />
        <span><%= __(name) %></span>
        <span class="close">×</span>
    </div>
</div>
