h1 {
    i {
        position: relative;
        top: 4px;
    }
}

.system, .system-placeholder {
    .system-container {
        background-color: @black-alpha-1;
        border: 2px solid @green-faded-3;
        position: relative;

        img {
            height: @img-min-height;
        }
    }
}

.system-placeholder {
    .system-container {
        padding: 43px 20px;
        border-radius: @radius-double;
        border-color: @purple-faded-3;
        will-change: border-color;
        transition: border-color @transition-1 @time-transition-05;

        h2 {
            color: white;

            i {
                font-size: 21px;
                position: relative;
                top: 5px;
                left: -3px;
            }
        }

        &:hover {
            border-color: @purple-regular;
        }
    }
}

.system {
    h2 {
        color: @white;
    }

    .system-container, .system-tools {
        will-change: border-color;
        transition: border-color @transition-1 @time-transition-05;
    }

    .system-container {
        padding: 20px;
        border-radius: @radius-double @radius-double 0 0;
    }

    .system-tools {
        background-color: @black-alpha-1;
        padding: 10px;
        padding-bottom: 12px;
        border-radius: 0 0 @radius-double @radius-double;
        border: 2px solid @green-faded-3;
        border-top: 0;

        a {
            font-size: 12px;
            display: block;
        }
    }

    &:hover {
        .system-container, .system-tools {
            border-color: @success;
        }
    }
}
