@import (reference) "../../front/modules/base/_colors";
@import (reference) "../../front/modules/base/_variables";
@import "autocomplete";

form {
    .autocomplete-container {
        label {
            width: 100%;
            position: relative;
            z-index: 1;

            i {
                color: @green-faded-3;
                right: 10px;
                top: 41px;
                position: absolute;
                pointer-events: none;
            }

            & + input[type="text"] {
                padding: .375rem 2.75rem 0.375rem .75rem;
            }
        }

        .modified-skills {
            .modified-skill {
                color: @white;
                background-color: @grey-dark-2;
                padding: 10px;
                border: 2px solid transparent;
                border-radius: 4px;
                will-change: border-color;
                transition: border-color @time-transition-05 @transition-1;
                cursor: grab;

                img {
                    width: 32px;
                }

                .close {
                    color: @white;
                    position: absolute;
                    right: 25px;
                    top: 5px;
                    text-shadow: none;
                    cursor: pointer;
                }

                &:hover {
                    border-color: @success;
                }

                &:active {
                    cursor: grabbing;
                }
            }
        }

        .choices {
            margin-bottom: 0;

            .choices__inner {
                background: @grey-dark-1;
                border: 2px solid fade(@gold, 20%);
                min-height: 38px;
                padding: 4px .75rem;
            }

            .choices__input {
                font-size: 16px;
                color: @white;
                background-color: transparent;
                padding: 0;
                margin-bottom: 0;
            }

            .choices__list--dropdown {
                background-color: @grey-dark-1;
                border: 2px solid fade(@gold, 20%);
                border-top-width: 1px;
                border-bottom-width: 1px;
                z-index: 2;

                .choices__item--selectable.is-highlighted {
                    background-color: @grey-medium-1;
                }
            }

            .choices__list--multiple {
                .choices__item {
                    font-weight: bold;
                    color: @success;
                    background-color: @grey-medium-3;
                    border: none;
                    margin: -3px 5px 0 0;

                    .choices__button {
                        border-left-color: @grey-light-2;
                    }
                }
            }
        }
    }

    .thumb-container {
        position: relative;

        label {
            position: absolute;
            left: 15px;
            top: 0;
            cursor: pointer;
        }

        img {
            height: @img-min-height;
            opacity: 1;
            position: absolute;
            top: -40px;
            right: 15px;
            will-change: opacity;
            transition: opacity @transition-1 @time-transition-05;

            &:hover {
                opacity: .5;
            }

            &.not-input-file {
                top: -10px;
            }
        }
    }

    select {
        cursor: pointer;

        &:focus {
            option:checked {
                background: @grey-medium-1;
            }
        }
    }
}
