@import (reference) "../../front/modules/base/_colors";
@import (reference) "../../front/modules/base/_variables";
@import "autocomplete";
@import "choices";

form {
    .autocomplete-container {
        .modified-skills {
            .modified-skill {
                color: @white;
                background-color: @grey-dark-2;
                padding: 10px;
                border: 2px solid transparent;
                border-radius: 4px;
                will-change: border-color;
                transition: border-color @time-transition-05 @transition-1;
                cursor: grab;

                img {
                    width: 32px;
                }

                .close {
                    color: @white;
                    position: absolute;
                    right: 25px;
                    top: 5px;
                    text-shadow: none;
                    cursor: pointer;
                }

                &:hover {
                    border-color: @success;
                }

                &:active {
                    cursor: grabbing;
                }
            }
        }
    }

    .thumb-container {
        position: relative;

        label {
            position: absolute;
            left: 15px;
            top: 0;
            cursor: pointer;
        }

        img {
            height: @img-min-height;
            opacity: 1;
            position: absolute;
            top: -40px;
            right: 15px;
            will-change: opacity;
            transition: opacity @transition-1 @time-transition-05;

            &:hover {
                opacity: .5;
            }

            &.not-input-file {
                top: -10px;
            }
        }
    }

    select {
        cursor: pointer;

        &:focus {
            option:checked {
                background: @grey-medium-1;
            }
        }
    }

    .elements-suggestions {
        @alpha-index: 3;
        @str-dot: ".";
        @str-class: "white-alpha-";
        @variable-concat: ~"@{str-class}@{alpha-index}";
        @opacity-concat: ~"@{str-dot}@{alpha-index}";

        .header {
            font-weight: bold;
            color: @white;

            .content {
                border-top: 1px solid @success;
                border-radius: @radius-default @radius-default 0 0;
            }
        }

        .header, .suggestions {
            .content {
                background-color: @grey-dark-2-faded-5;
                padding: 15px 0;
                margin: 0;
                border-bottom: 1px solid @success;
            }
        }

        .suggestion {
            .index, .fr-name, .en-name, .fr-comment, .en-comment {
                color: @white;
            }

            .index, .fr-name, .en-name {
                top: 5px;
                position: relative;
            }

            .image-container {
                position: relative;
                display: inline-block;
                cursor: pointer;

                a {
                    display: block;
                }

                img {
                    will-change: opacity;
                    transition: opacity @time-transition-05 @transition-1;
                    pointer-events: none;
                }

                .remove-thumbnail {
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    position: absolute;
                    opacity: 0;
                    will-change: opacity;
                    transition: opacity @time-transition-05 @transition-1;

                    i {
                        color: white;
                        transform: translate(50%, 50%);
                        pointer-events: none;
                    }
                }

                &:not(.placeholder) {
                    img {
                        width: 48px;
                    }
                }

                &.placeholder {
                    img {
                        width: 42px;
                        opacity: @opacity-concat;
                    }
                }

                &:hover {
                    &:not(.placeholder) {
                        img {
                            opacity: @opacity-concat;
                        }

                        .remove-thumbnail {
                            opacity: 1;
                        }
                    }

                    &.placeholder {
                        img {
                            opacity: 1;
                        }
                    }
                }
            }

            .fr-comment, .en-comment {
                [contenteditable="true"] {
                    padding: 5px 0;
                }
            }

            .index, .fr-name, .en-name, .fr-comment, .en-comment {
                [contenteditable="true"] {
                    cursor: text;

                    &:empty:not(:focus):before {
                        color: @@variable-concat;
                        content:attr(data-text);
                    }
                }
            }

            &:last-child {
                .content {
                    border-radius: 0 0 @radius-default @radius-default;
                }
            }
        }

        .actions {
            button[type="button"] {
                width: 32px;
                height: 32px;

                i {
                    font-size: 16px;
                    position: relative;
                    top: -2px;
                    left: -6px;
                    pointer-events: none;
                }
            }
        }
    }
}
